<h1>Users to follow</h1>
<strong>i didn't implement following, just pretend</strong>
<br />
<% @users.each do |user| %>
  <p><%= "[#{user.id}] #{user.email}" %></p>
  <% end %>
  <h3><%= link_to "Finish", next_wizard_path, class:"btn btn-primary" %></h3>
  <%= render "after_signup/links" %>